/* Importing Google Fonts - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  background: #5F7BC9;
}

#root {
  width: 100%;
  padding: 0.6rem;
}

.login-container {
  margin: 0 auto;
  max-width: 410px;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.login-container .form-title {
  text-align: center;
  font-size: 1.37rem;
  font-weight: 600;
  margin-bottom: 1.87rem;
}

.login-container .social-login {
  display: flex;
  gap: 1.31rem;
}

.social-login .social-button {
  display: flex;
  gap: 0.81rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.75rem 0;
  border-radius: 0.31rem;
  align-items: center;
  justify-content: center;
  background: #F9F8FF;
  border: 1px solid #D5CBFF;
  transition: 0.3s ease;
}

.social-login .social-button:hover {
  border-color: #3D4D7A;
  background: #f1eff9;
}

.social-login .social-button .social-icon {
  width: 23px;
}

.login-container .separator {
  position: relative;
  margin: 1.5rem 0;
  text-align: center;
  background: #fff;
}

.login-container .separator span {
  z-index: 1;
  font-weight: 500;
  color: #3D4D7A;
  position: relative;
  background: #fff;
  font-size: 1.06rem;
  padding: 0 0.9rem;
}

.login-container .separator::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  width: 100%;
  background: #3D4D7A;
}

.login-form .input-wrapper {
  height: 54px;
  width: 100%;
  position: relative;
  margin-bottom: 1.5rem;
}

.login-form .input-field {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 1.06rem;
  border-radius: 0.31rem;
  border: 1px solid #3D4D7A;
  padding: 0px 1.25rem 0 3.12rem;
  transition: 0.2s ease;
}

.login-form .input-field:focus {
  border-color: #3D4D7A;
}

.login-form .input-field::placeholder {
  color: #3D4D7A;
}

.login-form .input-wrapper i {
  position: absolute;
  top: 50%;
  height: 100%;
  display: flex;
  color: #3D4D7A;
  align-items: center;
  transform: translateY(-50%);
  transition: 0.2s ease;
}

.login-form .input-wrapper i:not(.eye-icon) {
  left: 0.93rem;
  pointer-events: none;
}

.login-form .input-field:focus ~ i:not(.eye-icon) {
  color: #5F41E4;
}

.login-form .input-wrapper i.eye-icon {
  display: none;
  right: 0.93rem;
  color: #3D4D7A;
  cursor: pointer;
  font-size: 1.25rem;
}

.login-form .input-wrapper .input-field:valid ~ .eye-icon {
  display: flex;
}

.login-form .forgot-password-link {
  display: block;
  width: fit-content;
  margin-top: -0.44rem;
}

.login-form .login-button {
  border: none;
  outline: none;
  width: 100%;
  height: 54px;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 2.19rem;
  border-radius: 0.31rem;
  background: #3D4D7A;
  transition: 0.3s ease;
}

.login-form .login-button:hover {
  background: #5F7BC9;
}

.login-container .signup-prompt {
  text-align: center;
  font-size: 1.06rem;
  font-weight: 500;
  margin: 1.75rem 0 0.31rem;
}

.login-container a {
  color: #3D4D7A;
  font-weight: 500;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}




/* src/index.css */
/* src/index.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f0efe8;
  overflow: hidden;
  height: 100%;
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #6374bf;
  color: #fff;
  padding: 1rem 2rem;
  flex-shrink: 0; 
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logout {
  padding: 0.3rem 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard-main {
  display: flex;
  flex: 1; /* занимает всё оставшееся место */
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  background: #e0dfd7;
  overflow-y: auto; /* если много контента */
  justify-content: center; /* центр по горизонтали */
  align-items: center; 
}

.focus-timer, .brain-progress, .statistics {
  background: #B1BCD9;
  color: #fff;
  padding: 2rem;
  border-radius: 12px;
  height: 100%;
  max-height: 650px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
}

.focus-timer h2, .brain-progress h2, .statistics h2 {
  margin-bottom: 3.5rem;
}

.timer-circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #6374bf;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  margin-bottom: 1rem;
}

.timer-buttons {
  display: flex;
  gap: 1rem;
}

.timer-buttons button {
  padding: 1rem 2rem;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #7a8ed9;
  color: #fff;
  font-weight: bold;
  transition: 0.2s;
}

.timer-buttons button:hover {
  background: #5b6bb0;
}

.brain-progress .progress-info {
  width: 100%;
  margin-bottom: 1rem;
}

.brain-progress .brain-box {
  width: 100%;
  height: 150px;
  background: #8c8c8c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 8px;
}

.statistics {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 400px;
  align-items: flex-start;
}

.statistics .stat-item {
  background: #6374bf;
  margin: 0.5rem 0;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #5F7BC9;
}

.welcome-text {
  font-size: 24px;
  font-weight: bold
}